{% extends "base.html" %}

{% block title %}Contact Us{% endblock title %}

{% block head %}

<br>

<h1>Contact</h1>

{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
  <strong></strong> {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
<form method="post">
  {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Name</label>
      <input name="Name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input required name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Your Query</label>
        <textarea name="question" required class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    
    <button type="submit" class="btn-get-started scrollto text-dark">Submit</button>
  </form>


{% endblock head %}