{% extends "base.html" %}

{% block title %}LogIn{% endblock title %}

{% block head %}
<br>
<h1>LogIn</h1>
<br>
<br>
{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
  <strong></strong> {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
<form method="post">
  {% csrf_token %}
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input required name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input required name="password" type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <br>
    <a href='{% url "Reset_Password" %}'>Forgot Password</a>
    <button type="submit" class="btn-get-started scrollto text-dark">LogIn</button>
  </form>
  <br>
  <p>Don't Have Account</p><a href="{% url 'SignUp' %}">SignUp</a>


{% endblock head %}

